<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies</title>
    <style>
        * {
            font-family: 'Vazir Code';
            font-weight: bold;
            font-size: 1.02em;
        }
    </style>
</head>
<body style="margin: 3%;">
    <a href="/">home/search</a>
    <br>
    <hr>
    <br>
    {% block content %}
    {% endblock %}
    <br>
</body>
</html>